%echo Generating a GPG key for {{ fullname }}
Key-Type: RSA
Key-Length: 4096
Subkey-Type: RSA
Subkey-Length: 4096
Name-Real: {{ fullname }}
Name-Email: {{ email }}
Expire-Date: 0
Passphrase: {{ passphrase }}
%commit
%echo done
