[Unit]
Description=Glance

[Service]
User={{ user.name }}
Group={{ user.group }}
ExecStart=/usr/local/bin/glance --config {{ user.home }}/.config/glance/glance.yml

[Install]
WantedBy=multi-user.target
